<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <html xmlns:th="http://www.thymeleaf.org"/>
    <meta charset="UTF-8"/>
    <title>Posts</title>
</head>
<body>

<a th:href="@{/posts/add}" href="http://localhost:8080/posts/add">Add new post</a>
<h1>Posts</h1>
<table>
    <thead>
    <tr>
       <th>Actions</th>
       <th>Content</th>
       <th>Date</th>
       <th>Score</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="item:${postService}">
            <td><a th:href="@{'/posts/' +${item.id} + '/upVote'}">+</a>
                <a th:href="@{'/posts/' +${item.id} + '/downVote'}">-</a></td>
            <td th:text="${item.content}" ></td>
            <td th:text="${item.date}"></td>
            <!--<td> 2017.01.19 19:43</td>-->
            <td th:text="${item.score}" ></td>
        </tr>
    </tbody>

</table>

<!--<div class="nav">-->
    <!--<tr>-->
        <!--<td><a class="btn btn-danger" href="#" th:href="@{'/posts?page=0&amp;size=5&amp;sort=score,desc'}">←First</a></td>-->
        <!--<td><a class="btn btn-danger" th:if="${posts.hasPrevious()}" href="#" th:href="@{'/posts?page=' + ${posts.getNumber()-1} + '&amp;size=5&amp;sort=score,desc' }">Go to previous</a></td>-->
        <!--<td><a class="btn btn-danger" th:if="${posts.hasNext()}" href="#" th:href="@{'/posts?page=' + ${posts.getNumber()+1} + '&amp;size=5&amp;sort=score,desc' }">Go to next</a></td>-->
        <!--<td><a class="btn btn-danger" href="#" th:href="@{'/posts?page=' + ${posts.getTotalPages()-1} + '&amp;size=5&amp;sort=score,desc' }">Last →</a></td>-->
    <!--</tr>-->

<!--</div>-->




</body>
</html>