html {
  margin-left: 30px;
  margin-top: 30px;
}

h1 {
  color:blue;
}

h2 {
  color:yellow;
}

.theblues li {
color:blue;

}

.nested li{
  color:black;
}
li.thereds {
  color:red;
}

ul {
  list-style-type: square;
}


ul.nested{

  list-style-type: circle;
}
