div.box {

  margin: 20px;
  padding: 20px;
  background-color: yellow;
  text-align: left;
  color: red;
  font-size: 30px;
  height: 30px;
  width: 170px;
  border: 4px;
  border-style: solid;
  border-color: black;

}
