/* *{
  background-color: #f9f9f9;
} */

body{
  display: flex;
  margin: 0;
  font-size: 14px;
}

h1 h2{
  font-family: "Times", "Georgia", "Linux Libertine", "Cambria";
  }

  h1 {
  font-weight: 300;
}

h2 {
  font-weight: 400;
}
 h3 table p blockquote{
  font-family: "Helvetica Neue", "Helvetica", "Arimo", "Liberation Sans", "Lucida Grande";
  line-height: 1.5em;
}
p {
  font-family: "sans-serif", "Helvetica Neue", "Helvetica", "Arimo", "Liberation Sans", "Lucida Grande";
  line-height: 1.5em;

}
/*aside part start*/

aside{
  background-color: #f9f9f9;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  text-align: center;
  }



  #nav > hr{
    width: 60%;
    margin: 0;
    padding-right:20px;
  }

  aside img{
    width: 100px;
    height: auto;

  }

  #nav{
    text-align: left;
    padding-left: 20px;

  }

  #nav > ul{
      font-size: 0.75em;
      list-style-type: none;
      padding-left: 5px;

  }

  #nav > ul > li{
      padding: 2px;

  }

  #nav > p{
      font-size: 0.75em;
      padding: 0px;
      margin: 10px 0px 0px 0px;
  }

  #nav > p + ul{
      padding-left: 10px;
      margin-top: 0px;
  }

  /*aside part end*/

  /*namecart table*/
tbody{
   width: 222px;
   height:531px;

}

table{
 display: table;
 border-collapse: separate;
 border-spacing: 2px;
 border-color: grey;
 float: right;
 margin: 10px;

}

.namecard{

 background-color: #f9f9f9;
 border: 1px solid #aaa;
 width: 300px;
 height: 200px;
 float: right;
 font-size: 80%;
 line-height: 1.5em;
 padding: 0.2em;
}

.namehead {
  text-align: center;
}

.namehead p{
  margin-top: 0;
}
tr div{
  text-align: center;
  display: inline-block;
}

th{
  vertical-align: top;
  text-align: left;
}

/*namecard table end*/

/*toc*/

.toc {
  text-align: left;
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  font-size: 95%;
  line-height: 1.6em;
  display: inline-block;
}


.toc ol{
  counter-reset: item;
  list-style: none;
  padding-left: 20px;
  padding-right: 10px;
}

.toc LI:before { content: counters(item, ".") " "; counter-increment: item

}

#toctitle{
  padding-left: 20px;
}



.flexcontainer{
  display: flex;
  /*padding: 15px;*/
  width: 100%;
  flex-flow: column;

}

.maincontainer {
  border-left: 1px solid #b3ecff;
  border-top: 1px solid #b3ecff;
  padding-left: 10px;

}

/*header start*/

header{
  background-color: #f9f9f9;
  display: flex;
  flex-flow: column;
  /* text-decoration: none; Why is it not working here and why do I have to create a new and more specified css line I don't know*/
  }

  /*header styling*/

  header a{
    text-decoration: none;
  }

.toprightlinks{
  /*position: absolute;
  top: 0.33em;
  right: 0.75em;
  z-index: 100; */
  display: flex;
  justify-content: flex-end;
  font-size: 80%;
  padding-bottom: 18px;

}

.toprightlinks a{
  padding-right: 10px;
}


.menubar{
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  padding-bottom: 5px;

}

.menuleft a{
  padding-left: 10px;
  font-size: 90%;
}

.menuright {
  display: flex;
  justify-content: flex-end;
}

.menuright {
  padding-right: 10px;
}
form{
  padding-left: 10px;
}

.menuright{
  font-size: 90%;
}

/*header styling end --- way too long, need to review for simplification*/
