body {
  background: rgba(221, 214, 204, 1.00);
  color: rgba(77, 62, 98, 1.00);
  font-size: 14px;
  font-family: sans-serif;

}

h2{
display: inline-block;
width:90%;
color: white;
background-color: rgba(149, 138, 151, 1.00);
font-weight: 100;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;


}

.maincontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.leftcontainer, .rightcontainer{
  max-width: 350px;
  flex-grow: 1;
  margin-right: 20px;

}
.leftcontainer input, .rightcontainer input {
  width: 90%;
  height: 3em;
  margin-top: 0.5em;
  border-radius: 2px;
  text-indent: 10px;
  border: 1px solid #938c97;

}

.birthgender{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 90%;

}

.genderchoice{
display: flex;
padding-top: 10px;
flex-direction: row;
align-items: center;


}

.genderchoice input, .genderchoice label{
  display: inline-block;
  margin-right: 10px;
}

input[type=radio] {
  width: 20px;
  margin: 0 6px 0 0;
}

#male {
  padding: 0px;
  justify-content: flex-end;
}

.birth {
  display: inline-block;
  max-width: 100px;
}
.bottom{
  width: 100%;
  display: block;

}

.brand{
  display: flex;
  flex-flow: row;
  margin: 10px 0px 25px 0px;
}

.column1{
  display: flex;
  flex-flow: column;
  width: 45%;
  margin: 0;
}

.column2{
  display: flex;
  flex-flow: column;
  width: 45%;
  margin: 0 5%;
}

.column1 .column2 label{
  display: inline-block;

}

#introduction{
    width:80%;
    height: 100px;


  }

.buttons{
  text-transform: capitalize;
  margin: 20px;

}

.save{
 background-color: rgba(73, 58, 92, 1.00);
 color: lightgrey;
 width: 180px;
 height: 40px;
 font-weight: bold;
 font-size: 18px;
 border-radius: 4px;

}
